/*-------------NavBar Changes----------------*/
.container .navbar-brand{
	color:#FFA500;
}

.navbar-default .navbar-nav>.active>a,  .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-toggle .icon-bar{
	background-color:#FFA500;
	color:white;
}

.navbar-default .navbar-toggle{
	border-color:#FFA500;
}
.navbar-default .navbar-nav>.active>a:hover{
	background-color:#f8f8f8;
	color:#FFA500;
}

.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a{
	color:#FFA500;
}


/*--------------Picture and Text---------------*/

.ticker{
overflow:hidden;
height: 71px;
vertical-align: baseline;
text-align:center;
}

.ticker h1{
font-size: 36px;
font-weight: 700;
margin-bottom: 0px;
border: 1px solid white;
padding-top: 5px;
padding-bottom:5px;
border-radius: 5px;
}


.hello{
	background-image:url('http://upload.wikimedia.org/wikipedia/commons/0/02/Surface_wooden_furniture_interior_design_texture.jpg');
	background-size:cover;
	background-position:center center;
	margin-top: -20px;
	padding-top:150px;
	padding-bottom: 120px;
	font-size: 30px;
	color:white;
}



/*----------------Grid Stuff--------------------*/

body{
	background-color:white;
}

.col-md-3{
	border-left:1px solid #FFA500;
	border-bottom:1px solid #FFA500;
	height:200px;
}

.col-md-6{
	border-left:1px solid #FFA500;
	border-right:1px solid #FFA500;
	border-bottom:1px solid #FFA500;
	height:200px;
}